body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

body, html{
 height: 100%;
}

/*html{
 font-size: calc(100vw / 425 * 10);
}*/

:root{
 --height: 10vh;
 --width: 20vw;
 --redColor: #F24E1E;
 --lightCoralColor: #FF7262;
 --purpleColor: #A259FF;
 --lightBlueColor: #1ABCFE;
 --lightGreenColor: #0ACF83;
}

.main-div{
 z-index: 1000;
 position: relative;
 animation: mainDiv 5s ease-in-out 5s infinite alternate;
 -webkit-animation: mainDiv 5s ease-in-out 5s infinite alternate;
 -ms-animation: mainDiv 5s ease-in-out 5s infinite alternate;
 animation-fill-mode: forwards;
 -ms-animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;
 
}

@keyframes mainDiv{
 50%{
  transform: translateX(1.25rem) rotateY(180deg);
 }
 100%{
  top: 12%;
  left: 46.5%;
  transform: translateY(0.0625rem) translateX(-0.125rem) rotateY(360deg) scale(1);
 }
}

@-webkit-keyframes mainDiv{
 50%{
  transform: translateX(1.25rem) rotateY(180deg);
 }
 100%{
  top: 12%;
  left: 46.5%;
  transform: translateY(0.0625rem) translateX(-0.125rem) rotateY(360deg) scale(1);
 }
}

@-ms-keyframes mainDiv{
 50%{
  transform: translateX(1.25rem) rotateY(180deg);
 }
 100%{
  top: 12%;
  left: 46.5%;
  transform: translateY(0.0625rem) translateX(-0.125rem) rotateY(360deg) scale(1);
 }
}



.random-div{
 z-index: -50;
 position: relative;
 animation: randomDiv 5s ease-in-out 5s infinite alternate;
 -ms-animation: randomDiv 5s ease-in-out 5s infinite alternate;
 -webkit-animation: randomDiv 5s ease-in-out 5s infinite alternate;
 animation-fill-mode: forwards; 
 -ms-animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;
}

@keyframes randomDiv{
 0%{
  right: -45vh;
  transform: scale(.9);
 }

 100%{
  background-color: white;
  height: 40vh;
  width: 80vw;
  position: relative;
  border-radius: 15%;
  right: 4.5vh;
  transform: rotateY(210deg) scale(1);
 }
}

@-webkit-keyframes randomDiv{
 0%{
  right: -45vh;
  transform: scale(.9);
 }

 100%{
  background-color: white;
  height: 40vh;
  width: 80vw;
  position: relative;
  border-radius: 15%;
  right: 4.5vh;
  transform: rotateY(210deg) scale(1);
 }
}

@-ms-keyframes randomDiv{
 0%{
  right: -45vh;
  transform: scale(.9);
 }

 100%{
  background-color: white;
  height: 40vh;
  width: 80vw;
  position: relative;
  border-radius: 15%;
  right: 4.5vh;
  transform: rotateY(210deg) scale(1);
 }
}

.red-div{
 background-color: var(--redColor);
 height: var(--height);
 width: var(--width);
 position: relative;
 animation: redDiv 5s linear 1.5s;
 -ms-animation: redDiv 5s linear 1.5s;
 -webkit-animation: redDiv 5s linear 1.5s;
 animation-fill-mode: forwards;
 -ms-animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;
}


@keyframes redDiv{
 
 0%{
  background-color: var(--purpleColor);
 }
 
 15%{
  background-color: var(--lightBlueColor);
  right: 1.875rem;
  border-top-left-radius: 20%;
  transform: rotate(180deg);
 }
 
 25%{
  background-color: var(--purpleColor);
  right: 3.125rem;
  border-top-right-radius: 20%;
 }
 
 50%{
  background-color: var(--lightGreenColor);
  border-radius: 50%;
  transform: skewY(30deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--lightBlueColor);
  transform: translateX(1.875rem) skewX(30deg);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--lightCoralColor);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--redColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(-90deg) translateY(-3.75rem);
 }
 
}


@-webkit-keyframes redDiv{
 
 0%{
  background-color: var(--purpleColor);
 }
 
 15%{
  background-color: var(--lightBlueColor);
  right: 1.875rem;
  border-top-left-radius: 20%;
  transform: rotate(180deg);
 }
 
 25%{
  background-color: var(--purpleColor);
  right: 3.125rem;
  border-top-right-radius: 20%;
 }
 
 50%{
  background-color: var(--lightGreenColor);
  border-radius: 50%;
  transform: skewY(30deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--lightBlueColor);
  transform: translateX(1.875rem) skewX(30deg);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--lightCoralColor);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--redColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(-90deg) translateY(-3.75rem);
 }
 
}


@-ms-keyframes redDiv{
 
 0%{
  background-color: var(--purpleColor);
 }
 
 15%{
  background-color: var(--lightBlueColor);
  right: 1.875rem;
  border-top-left-radius: 20%;
  transform: rotate(180deg);
 }
 
 25%{
  background-color: var(--purpleColor);
  right: 3.125rem;
  border-top-right-radius: 20%;
 }
 
 50%{
  background-color: var(--lightGreenColor);
  border-radius: 50%;
  transform: skewY(30deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--lightBlueColor);
  transform: translateX(1.875rem) skewX(30deg);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--lightCoralColor);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--redColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(-90deg) translateY(-3.75rem);
 }
 
}

.light-coral-div{
 background-color: var(--lightCoralColor);
 height: var(--height);
 width: var(--width);
 position: relative;
 animation: lightCoralDiv 5s linear 1s;
 -ms-animation: lightCoralDiv 5s linear 1s;
 -webkit-animation: lightCoralDiv 5s linear 1s;
 animation-fill-mode: forwards;
 -ms-animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;
}

@keyframes lightCoralDiv{
 
 0%{
  background-color: var(--lightBlueColor);
 }
 
 15%{
  background-color: var(--purpleColor);
  left: 1.875rem;
  border-top-right-radius: 20%;
  transform: scale(1.5);
 }
 
 25%{
  background-color: var(--lightGreenColor);
  bottom: 2.5rem;
  border-top-left-radius: 20%;
 }
 
 50%{
  background-color: var(--lightBlueColor);
  border-radius: 50% 50% 50% 0;
  transform: skewX(-30deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--lightGreenColor);
  border-radius: 50% 0;
  transform: skewX(30deg);
 }
 
 75%{
  background-color: var(--purpleColor);
  transform: scale(1.5);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--lightCoralColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(90deg) translate(-4.6875rem, -0.5rem);
 }
 
}

@-webkit-keyframes lightCoralDiv{
 
 0%{
  background-color: var(--lightBlueColor);
 }
 
 15%{
  background-color: var(--purpleColor);
  left: 1.875rem;
  border-top-right-radius: 20%;
  transform: scale(1.5);
 }
 
 25%{
  background-color: var(--lightGreenColor);
  bottom: 2.5rem;
  border-top-left-radius: 20%;
 }
 
 50%{
  background-color: var(--lightBlueColor);
  border-radius: 50% 50% 50% 0;
  transform: skewX(-30deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--lightGreenColor);
  border-radius: 50% 0;
  transform: skewX(30deg);
 }
 
 75%{
  background-color: var(--purpleColor);
  transform: scale(1.5);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--lightCoralColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(90deg) translate(-4.6875rem, -0.5rem);
 }
 
}

@-ms-keyframes lightCoralDiv{
 
 0%{
  background-color: var(--lightBlueColor);
 }
 
 15%{
  background-color: var(--purpleColor);
  left: 1.875rem;
  border-top-right-radius: 20%;
  transform: scale(1.5);
 }
 
 25%{
  background-color: var(--lightGreenColor);
  bottom: 2.5rem;
  border-top-left-radius: 20%;
 }
 
 50%{
  background-color: var(--lightBlueColor);
  border-radius: 50% 50% 50% 0;
  transform: skewX(-30deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--lightGreenColor);
  border-radius: 50% 0;
  transform: skewX(30deg);
 }
 
 75%{
  background-color: var(--purpleColor);
  transform: scale(1.5);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--lightCoralColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(90deg) translate(-4.6875rem, -0.5rem);
 }
 
}

.purple-div{
 background-color: var(--purpleColor);
 height: var(--height);
 width: var(--width);
 position: relative;
 animation: purpleDiv 5s linear 2s;
 -ms-animation: purpleDiv 5s linear 2s;
 -webkit-animation: purpleDiv 5s linear 2s;
 animation-fill-mode: forwards;
 -ms-animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;
}

@keyframes purpleDiv{
 
 0%{
  background-color: var(--redColor);
 }
 
 15%{
  background-color: var(--lightGreenColor);
  right: 3.125rem;
  border-top-left-radius: 20%;
  transform: skew(40deg);
 }
 
 25%{
  background-color: var(--lightBlueColor);
  border-top-right-radius: 20%;
 }
 
 50%{
  background-color: var(--lightCoralColor);
  border-radius: 0;
  transform: rotateY(180deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--purpleColor);
  border-radius: 40% 10%;
  transform: translateY(0.625rem) skewX(50deg);
 }
 
 75%{
  background-color: var(--lightBlueColor);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--purpleColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(-90deg) translate(4.90625rem, -4.125rem);
 }
 
}

@-webkit-keyframes purpleDiv{
 
 0%{
  background-color: var(--redColor);
 }
 
 15%{
  background-color: var(--lightGreenColor);
  right: 3.125rem;
  border-top-left-radius: 20%;
  transform: skew(40deg);
 }
 
 25%{
  background-color: var(--lightBlueColor);
  border-top-right-radius: 20%;
 }
 
 50%{
  background-color: var(--lightCoralColor);
  border-radius: 0;
  transform: rotateY(180deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--purpleColor);
  border-radius: 40% 10%;
  transform: translateY(0.625rem) skewX(50deg);
 }
 
 75%{
  background-color: var(--lightBlueColor);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--purpleColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(-90deg) translate(4.90625rem, -4.125rem);
 }
 
}

@-ms-keyframes purpleDiv{
 
 0%{
  background-color: var(--redColor);
 }
 
 15%{
  background-color: var(--lightGreenColor);
  right: 3.125rem;
  border-top-left-radius: 20%;
  transform: skew(40deg);
 }
 
 25%{
  background-color: var(--lightBlueColor);
  border-top-right-radius: 20%;
 }
 
 50%{
  background-color: var(--lightCoralColor);
  border-radius: 0;
  transform: rotateY(180deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--purpleColor);
  border-radius: 40% 10%;
  transform: translateY(0.625rem) skewX(50deg);
 }
 
 75%{
  background-color: var(--lightBlueColor);
  border-radius: 50% 50% 0 0;
 }
 
 100%{
  background-color: var(--purpleColor);
  border-radius: 50% 50% 0 0;
  transform: rotate(-90deg) translate(4.90625rem, -4.125rem);
 }
 
}


.light-blue-div{
 background-color: var(--lightBlueColor);
 height: var(--height);
 width: var(--width);
 position: relative;
 animation: lightBlueDiv 5s linear 1.2s;
 -ms-animation: lightBlueDiv 5s linear 1.2s;
 -webkit-animation: lightBlueDiv 5s linear 1.2s;
 animation-fill-mode: forwards;
 -ms-animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;
}

@keyframes lightBlueDiv{
 
 0%{
  background-color: var(--lightGreenColor);
 }
 
 15%{
  background-color: var(--lightCoralColor);
  left: 1.875rem;
  bottom: 1.875rem;
  border-radius: 0 20% 0 20%;
 }
 
 25%{
  background-color: var(--redColor);
  border-bottom-right-radius: 30%;
 }
 
 50%{
  background-color: var(--purpleColor);
  border-radius: 30% 0;
  transform: translateX(3.125rem) rotate(360deg);
 }
 
 55%{
  background-color: var(--lightGreenColor);
  transform: translateY(1.875rem) scale(1.5);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--redColor);
  transform: skewX(30deg);
 }
 
 100%{
  background-color: var(--lightBlueColor);
  border-radius: 50%;
  transform: translate(0.40625rem, -9.53125rem);
 }
 
}


@-webkit-keyframes lightBlueDiv{
 
 0%{
  background-color: var(--lightGreenColor);
 }
 
 15%{
  background-color: var(--lightCoralColor);
  left: 1.875rem;
  bottom: 1.875rem;
  border-radius: 0 20% 0 20%;
 }
 
 25%{
  background-color: var(--redColor);
  border-bottom-right-radius: 30%;
 }
 
 50%{
  background-color: var(--purpleColor);
  border-radius: 30% 0;
  transform: translateX(3.125rem) rotate(360deg);
 }
 
 55%{
  background-color: var(--lightGreenColor);
  transform: translateY(1.875rem) scale(1.5);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--redColor);
  transform: skewX(30deg);
 }
 
 100%{
  background-color: var(--lightBlueColor);
  border-radius: 50%;
  transform: translate(0.40625rem, -9.53125rem);
 }
 
}

@-ms-keyframes lightBlueDiv{
 
 0%{
  background-color: var(--lightGreenColor);
 }
 
 15%{
  background-color: var(--lightCoralColor);
  left: 1.875rem;
  bottom: 1.875rem;
  border-radius: 0 20% 0 20%;
 }
 
 25%{
  background-color: var(--redColor);
  border-bottom-right-radius: 30%;
 }
 
 50%{
  background-color: var(--purpleColor);
  border-radius: 30% 0;
  transform: translateX(3.125rem) rotate(360deg);
 }
 
 55%{
  background-color: var(--lightGreenColor);
  transform: translateY(1.875rem) scale(1.5);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--redColor);
  transform: skewX(30deg);
 }
 
 100%{
  background-color: var(--lightBlueColor);
  border-radius: 50%;
  transform: translate(0.40625rem, -9.53125rem);
 }
 
}

.light-green-div{
 background-color: var(--lightGreenColor);
 height: var(--height);
 width: var(--width);
 position: relative;
 animation: lightGreenDiv 5s linear 1s;
 -ms-animation: lightGreenDiv 5s linear 1s;
 -webkit-animation: lightGreenDiv 5s linear 1s;
 animation-fill-mode: forwards;
 -ms-animation-fill-mode: forwards;
 -webkit-animation-fill-mode: forwards;
}
 
 @keyframes lightGreenDiv{
 
 0%{
  background-color: var(--lightCoralColor);
 }
 
 15%{
  background-color: var(--redColor);
  right: 1.875rem;
  border-radius: 20% 0 30% 0;
  transform: skew(30deg);
 }
 
 25%{
  background-color: var(--lightCoralColor);
  border-top-right-radius: 30%;
 }
 
 50%{
  background-color: var(--lightBlueColor);
  transform: scaleY(1.5) rotateX(180deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--purpleColor);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--lightBlueColor);
  transform: skewY(30deg);
 }
 
 100%{
  background-color: var(--lightGreenColor);
  border-radius: 50% 50% 0 50%;
  transform: rotateX(-180deg) translate(-3.8125rem, 10rem) scale(0.9);
 }
 
}

 @-webkit-keyframes lightGreenDiv{
 
 0%{
  background-color: var(--lightCoralColor);
 }
 
 15%{
  background-color: var(--redColor);
  right: 1.875rem;
  border-radius: 20% 0 30% 0;
  transform: skew(30deg);
 }
 
 25%{
  background-color: var(--lightCoralColor);
  border-top-right-radius: 30%;
 }
 
 50%{
  background-color: var(--lightBlueColor);
  transform: scaleY(1.5) rotateX(180deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--purpleColor);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--lightBlueColor);
  transform: skewY(30deg);
 }
 
 100%{
  background-color: var(--lightGreenColor);
  border-radius: 50% 50% 0 50%;
  transform: rotateX(-180deg) translate(-3.8125rem, 10rem) scale(0.9);
 }
 
}

 @-ms-keyframes lightGreenDiv{
 
 0%{
  background-color: var(--lightCoralColor);
 }
 
 15%{
  background-color: var(--redColor);
  right: 1.875rem;
  border-radius: 20% 0 30% 0;
  transform: skew(30deg);
 }
 
 25%{
  background-color: var(--lightCoralColor);
  border-top-right-radius: 30%;
 }
 
 50%{
  background-color: var(--lightBlueColor);
  transform: scaleY(1.5) rotateX(180deg) translateX(1.25rem);
 }
 
 55%{
  background-color: var(--purpleColor);
  border-radius: 0;
 }
 
 75%{
  background-color: var(--lightBlueColor);
  transform: skewY(30deg);
 }
 
 100%{
  background-color: var(--lightGreenColor);
  border-radius: 50% 50% 0 50%;
  transform: rotateX(-180deg) translate(-3.8125rem, 10rem) scale(0.9);
 }
 
}


